<div>
  <h1>Nueva contrase単a</h1>

  <form action="/api/sessions/reset-password" method="POST">
    <input type="hidden" name="token" value="{{token}}">

    <label>Nueva contrase単a:</label>
    <input type="password" name="password" required>

    <label>Repetir contrase単a:</label>
    <input type="password" name="password2" required>

    <button type="submit">Cambiar contrase単a</button>
  </form>
</div>